.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.5vw;
    img {
        width: 7vh;
    }
    .header_title{
        margin-left: 3vw;
        font-size: 3vh;
        font-family: 'Courier New', Courier, monospace;
    }
}