$base-black: #020906;
$base-gray-light2: #f4f2f1;
$base-gray-light1: #ebe7e6;
$base-gray-dark1: #d3cdcd;
$base-gray-dark2: #937e83;
$base-white: #fbfafa;

$argenta: #D7172F;
$argenta-transparent-dark: #d8421548;
$argenta-transparent-light: #d842151e;

$mobile-large: 767px;
$tablet-small: 768px;
$tablet-large: 1279px;
$desktop-small: 1280px;
$desktop-large: 1920px;

$font-color-primary:  #4b4d49;

$text-colour: rgb(14, 10, 231);
// Bar Settings
$bar-colour: $text-colour;
$bar-animation-duration: 2.8s;

// These are not to be adjusted; it would mess 
// with the angles. If anyone knows how to make 
// the angles dynamic. I'd love to hear it.
$bar-width: 3px;
$bar-height: 25px;
$bar-count: 7;

// Generated settings
$bar-animation-duration-single: -$bar-animation-duration / $bar-count;

@mixin desktop {
  @media screen and (min-width: $desktop-small) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-small) and (max-width: $tablet-large) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-large) {
    @content;
  }
}