$base-black: #020906;
$base-gray-light2: #f4f1ed;
$base-gray-light1: #e7e3e2;
$base-gray-dark1: #d3cdcd;
$base-gray-dark2: #a38e93;
$base-white: #fbfafa;

$argenta: #D7172F;
$argenta-transparent-dark: #d8421548;
$argenta-transparent-light: #d842151e;

$mobile-large: 767px;
$tablet-small: 768px;
$tablet-large: 1279px;
$desktop-small: 1280px;
$desktop-large: 1920px;

$font-color-primary:  #4b4d49;

@mixin desktop {
  @media screen and (min-width: $desktop-small) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-small) and (max-width: $tablet-large) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-large) {
    @content;
  }
}